{% extends 'base_register.html' %}
{% load i18n %}
{% block title %}
    {% translate 'Täze parol şowly goýuldy' %}
{% endblock %}
{% block message %}
    <div class="text-center">
        <h2 class="mb-3">{% translate 'Parolyňyz täzelendi' %}</h2>
        <p>{% translate 'Siziň parolyňyz täzelendi. Täzeden ulgama girmegiňizi haýyş edýäris' %}</p>
    </div>
    <div class="mt-2 text-center">
        <a href="{% url 'login' %}" class="btn btn-outline-warning">{% translate 'Ulgama girmek' %}</a>
    </div>
{% endblock %}