{%  extends 'base.html' %}
{% load mptt_tags %}
{% block content %}
{% block slider %}
     <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4><a href="{% url 'popular-ads' %}">Iň meşhur mahabatlar</a></h4>
                <h2>Iň köp görülen mahabatlar bilen tanyş boluň</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
     </div>
    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>Öz mahabatlaryňyzy goşmak üçin biz bilen habarlaşyň</span>
                  <h4>Bu ýerde siziň mahabatyňyz hem bolup biler!</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a href="{% url 'contact' %}" target="_parent">Habarlaşmak</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            {% block adlist %}
              {% for ad in recent_ads %}
              <div class="{{ ad_class }}">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{ ad.image.url }}" alt="ad-image">
                </div>
                <div class="down-content">
                  <span><a href="{{ ad.category__get_absolute_url }}">{{ ad.category__name }}</a></span>
                  <a href="{{ ad.get_absolute_url }}"><h4>{{ ad.title }}</h4></a>
                  <ul class="post-info">
                    <li><a href="#">{{ ad.created_at|date:"M d, Y" }}</a></li>
                  <li><a href="#">Gören adamlaryň sany: {{ ad.views }}</a></li>
                  </ul>
                  {% autoescape off %}
                        {{ ad.content|truncatewords:25 }}
                  {% endautoescape %}
                  <div class="post-options">
                    <div class="row">
                      <div class="col-12">
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                          <li><a href="{{ ad.city.get_absolute_url }}">{{ ad.city }}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endblock %}
          {% block endads %}
           {% endblock %}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
                <form id="search_form" name="gs" method="GET" action="{% url 'search' %}">
                  <input type="text" name="q" class="searchText" placeholder="Mahabatlary gözlemek..." autocomplete="on">
                  <div class="row">
                      <div class="col-lg-4">
                          <input type="submit" class="btn btn-outline-warning mt-3" value="Gözle">
                      </div>
                  </div>
                </form>
              </div>
            </div>
            {% block sidebar %}
                <div class="col-lg-12">
                      <div class="sidebar-item recent-posts">
                        <div class="sidebar-heading">
                          <h2>Soňky mahabatlar</h2>
                        </div>
                        <div class="content">
                          <ul>
                              {% for ad in recent_ads %}
                                <li><a href="{{ ad.get_absolute_url }}">
                                  <h5>{{ ad.title }}</h5>
                                  <span>{{ ad.created_at|date:"M d, Y" }}</span>
                                </a></li>
                              {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="sidebar-item categories">
                        <div class="sidebar-heading">
                          <h2>Kategoriýalar</h2>
                        </div>
                        <div class="content">
                          <ul>
                              {% for item in category %}
                                <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                              {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                          <h2>Şäherler</h2>
                        </div>
                        <div class="content">
                          <ul>
                            {% recursetree cities %}
                                <li>
                                {% if not node.is_leaf_node %}
                                    {{ children }}
                                {% else %}
                                    <a href="{{ node.get_absolute.url }}">{{ node.name }}</a>
                                {% endif %}
                                </li>
                            {% endrecursetree %}
                          </ul>
                        </div>
                      </div>
                    </div>
           {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}