{%  extends 'base.html' %}
{% load mptt_tags %}
{% load i18n %}
{% block content %}
{% block slider %}
     {% include 'inc/_call_to_action.html' %}
{% endblock %}
<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            {% block adlist %}
              {% for ad in recent_ads %}
              <div class="{{ ad_class }}">
              <div class="blog-post">
                <div class="blog-thumb">
                    <a href="{{ ad.get_absolute_url }}"><img src="{{ ad.image.url }}" alt="ad-image"></a>
                </div>
                <div class="down-content">
                  <a href="{{ ad.category__get_absolute_url }}"><span>{{ ad.category__name }}</span></a>
                  <a href="{{ ad.get_absolute_url }}"><h4>{{ ad.title }}</h4></a>
                  <ul class="post-info">
                    <li><a href="#">{{ ad.created_at|date:"M d, Y" }}</a></li>
                  <li><a href="#">{% trans 'Gören adamlaryň sany:' %} {{ ad.views }}</a></li>
                  </ul>
                  {% autoescape off %}
                      {{ ad.content|truncatewords:25 }}
                  {% endautoescape %}
                  <div class="post-options">
                    <div class="row">
                      <div class="col-12">
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                            <li><a href="{{ ad.category.get_absolute_url }}">{{ ad.category }}</a></li>,
                          <li><a href="{{ ad.city.get_absolute_url }}">{{ ad.city }}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endblock %}
          {% block endads %}
           {% endblock %}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item">
                <form id="search_form" name="gs" method="GET" action="{% url 'search' %}">
                  <input type="text" name="q" class="form-control" placeholder="{% trans 'Postlary gözlemek...' %}" autocomplete="on">
                  <div class="row">
                      <div class="col-lg-4 mt-2">
                          <input type="submit" class="btn btn-outline-warning mt-3" value="{% trans 'Gözle' %}">
                      </div>
                  </div>
                </form>
              </div>
            </div>
            {% block sidebar %}
                <div class="col-lg-12">
                      <div class="sidebar-item recent-posts">
                        <div class="sidebar-heading">
                          <h2>{% trans 'Soňky postlar' %}</h2>
                        </div>
                        <div class="content">
                          <ul>
                              {% for ad in recent_ads %}
                                <li><a href="{{ ad.get_absolute_url }}">
                                  <h5>{{ ad.title }}</h5>
                                  <span>{{ ad.created_at|date:"M d, Y" }}</span>
                                </a></li>
                              {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="sidebar-item categories">
                        <div class="sidebar-heading">
                          <h2>{% trans 'Kategoriýalar' %}</h2>
                        </div>
                        <div class="content">
                          <ul>
                              {% for item in category %}
                                <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                              {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                          <h2>{% trans 'Şäherler' %}</h2>
                        </div>
                        <div class="content">
                          <ul>
                            {% recursetree cities %}
                                <li>
                                {% if not node.is_leaf_node %}
                                    {{ children }}
                                {% else %}
                                    <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                                {% endif %}
                                </li>
                            {% endrecursetree %}
                          </ul>
                        </div>
                      </div>
                    </div>
           {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}