{%  extends 'base_index.html' %}
{% load i18n %}
{% block slider %}
<div class="main-banner header-text">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
      {% for item in recent_cat %}
        <div class="item">
            <img class="dark-img" src="{{ item.image.url }}" alt="slider-image">
            <div class="item-content">
              <div class="main-content">
                    <div class="meta-category">
                      <a href="{{ item.category.get_absolute_url }}"><span>{{ item.category }}</span></a>
                    </div>
                    <a href="{{ item.get_absolute_url }}"><h4>{{ item.title }}</h4></a>
                    <ul class="post-info">
                      <li><a href="#">{{ item.created_at|date:"M d, Y" }}</a></li>
                      <li><a href="#">{% trans 'Gören adamlaryň sany:' %}{{ item.views }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block endads %}
    <div class="col-lg-12">
      <div class="main-button">
        <a href="{% url 'ad-list' %}">{% trans 'Ähli postlary görmek' %}</a>
      </div>
    </div>
{% endblock %}